body {
    background: linear-gradient(-45deg, #52caec, #3444bd, #18a8dc, #1febbb);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

  button {
    background-color: #3444bd !important;
    border: 1px solid #2d4b67 !important;
    color: #fff;
  }

.greenbg{
  background-color: rgb(53, 136, 53) !important;
}

.redbg {
  background-color: red !important;
}

  /* table scroll for mobile screen */
@media screen and (max-width: 600px) {
    .scrollit {
      /* sizing */
      width: 50%;
      height: 50%;
    }
  }
  
  /* table scroll for desktop screen */
  @media screen and (min-width: 600px) {
    .scrollit {
      overflow: scroll;
      overflow-x: hidden;
      height: 610px;
    }
    /* minimalist bar style */
    .scrollit::-webkit-scrollbar {
      width: 10px;
    }
    .scrollit::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    .scrollit::-webkit-scrollbar-thumb {
      background: #888;
    }
    .scrollit::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  
  .backButton {
    position: absolute;
    right: 10vh;
    top: 8vh;
  }
  
  .header img {
    margin-left: 12vh;
    margin-top: 3vh;
  }
  
  td,th {
    color: #fff;
  }

  th {
    text-align: center;
  }
  
  .routeDescripition {
    color: #fff;
    font-weight: 500;
  }
  
  .btnAdd {
    margin-left: 6px;
  }
  
  .form {
    margin-left: 9px;
  }