/* Remove as setas do input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Background animado */
body {
  background: linear-gradient(-45deg, #52caec, #3444bd, #18a8dc, #1febbb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Estilo dos botões */
button {
  background-color: #3444bd !important;
  border: 1px solid #2d4b67 !important;
  color: #fff;
}

/* Classe para alterar a cor do botão do imâ */
.greenbg{
  background-color: rgb(53, 136, 53) !important;
}

/* Classe para alterar a cor do botão do imâ */
.redbg {
  background-color: red !important;
}

/* Remove o scroll da tabela para telas maiores */
@media screen and (max-width: 600px) {
  .scrollit {
    width: 50%;
    height: 50%;
  }
}
  
/* Adiciona o scroll da tabela para telas menores, bem como seu estilo */
@media screen and (min-width: 600px) {
  .scrollit {
    overflow: scroll;
    overflow-x: hidden;
    height: 610px;
  }
  /* Estilo do scroll */
  .scrollit::-webkit-scrollbar {
    width: 10px;
  }
  .scrollit::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .scrollit::-webkit-scrollbar-thumb {
    background: #888;
  }
  .scrollit::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Cor dos textos da tabela */
td,th {
  color: #fff;
}

/* Alinha os itens da tabela */
th {
  text-align: center;
}

/* Estilo para o label do nome da rota */
.routeDescripition {
  color: #fff;
  font-weight: 500;
}

/* Margem para o form */
.form {
  margin-left: 9px;
}

/* Posiciona e da o estilo para o toast */
.toast {
  position: absolute;
  top: 83%;
  left: 2%;
  min-width: 200px;
  max-width: 500px;
  z-index: 9999;
  color: #fff;
  border: 1px solid #2d4b67;
  border-radius: 0 0 0 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

/* Estilo utilizado pelo js para alterar a cor do toast */
.toastBgGood {
  background-color: #3444bd;
}

/* Estilo utilizado pelo js para alterar a cor do toast */
.toastBgBad {
  background-color: red;
}

/* Estilo do input de ciclos */
.cyclesInput{
  text-align: center;
  border-radius: 5%;
  border: 1px solid #2d4b67;
}